{{> headerAdmin}}

<div class="content">
    <div id="addProductForm"
        style="display: none; position: absolute; top: 50px; left: 0; right: 0; margin: auto; z-index: 999;">
        <form id="form-sua" style=" max-width: 720px; margin-right: 20px;">
            <div class="form-group">
                <h2 style="text-align: center;">Thêm Sản Phẩm Mới</h2>
                <label for="name">Tên Sản Phẩm:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="price">Giá Bán:</label>
                <input type="text" class="form-control" id="price" name="price">
            </div>
            <div class="form-group">
                <label for="image">Hình Ảnh:</label>
                <input type="text" class="form-control" id="productImage" name="productImage">
            </div>
            <div class="form-group">
                <label for="productDescription">Mô Tả:</label>
                <textarea class="form-control" id="productDescription" name="productDescription"></textarea>
            </div>
            <button type="submit" style="margin-top: 8px;" class="btn btn-primary">Thêm</button>
            <button type="button" style="margin-top: 8px;" class="btn btn-secondary"
                onclick="hideAddProductForm()">Đóng</button>
        </form>
    </div>

    <div class="top-sp">
        <a href=""></a>
        <button type="button" class="btn btn-primary" onclick="showAddProductForm()">
            Thêm Sản Phẩm
        </button>
    </div>

    <div id="ndung" style="margin-top: 6px;">
        <div style="clear: left;"></div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên Sản Phẩm</th>
                    <th style="width: 100px">Giá Bán</th>
                    <th style="width: 110px;">Hình Ảnh</th>
                    <th>Mô Tả</th>
                    <th style="width: 62px">Actions</th>
                </tr>
            </thead>
            {{#each Books}}
            <tbody id="myTable">
                <tr>
                <tr class="product-row">
                    <td class="STT"></td>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td><img src="{{this.productImage}}" alt="{{this.name}}" style="width: 100px;"></td>
                    <td>{{this.productDescription}}</td>
                    <td>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}"
                            data-bs-target="#exampleModal">Xóa</button>
                        <a href="/admin/update/{{this._id}}">
                            <button class="btn btn-primary" onclick="editProduct(this)"
                                style="margin-top: 6px;">Sửa</button>
                        </a>

                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>

{{> bodyadmin}}


{{!-- Confirm delete --}}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa sách này ? </p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-book" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


{{!-- Delete hinden form --}}
<form name="delete-book-form" method="POST" >


<script>

    document.addEventListener('DOMContentLoaded', function () {
        var bookId;
        var deleteForm = document.forms['delete-book-form'];
        var btnDeleteBook = document.getElementById('btn-delete-book');

        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            bookId = button.data('id');  
        });

        btnDeleteBook.onclick = function(){
            deleteForm.action = '/admin/delete/' + bookId + '?_method=DELETE';
            deleteForm.submit();
        }
    });





    //phan hien form
    function showAddProductForm() {
        document.getElementById('addProductForm').style.display = 'block';
        document.getElementById('ndung').style.display = 'none';
    }

    function hideAddProductForm() {
        document.getElementById('addProductForm').style.display = 'none';
        document.getElementById('ndung').style.display = 'block';
    }



    //phan tang STT
    var stt = 1;
    $('.product-row').each(function () {
        $(this).find('.STT').text(stt++);
    });
    ////phan them
    $(document).ready(function () {
        $("#form-sua").submit(function (event) {
            event.preventDefault();

            var name = $("#name").val();
            var price = $("#price").val();
            var productImage = $("#productImage").val();
            var productDescription = $("#productDescription").val();

            if (!name || !price || !productImage || !productDescription) {
                Swal.fire({
                    title: "Vui lòng nhập đầy đủ thông tin!",
                    icon: "error"
                });
                return;
            }
            if (!/^[0-9]+$/.test(price)) {
                Swal.fire({
                    title: "Giá phải là một số từ 0 đến 9!",
                    icon: "error"
                });
                return;
            }

            $.ajax({
                url: "/admin/added",
                method: "POST",
                data: {
                    name: $('#name').val(),
                    price: $('#price').val(),
                    productImage: $('#productImage').val(),
                    productDescription: $('#productDescription').val()
                },
                success: function (response) {
                    if (response.message == 'Thêm thành công') {
                        Swal.fire({
                            title: response.message,
                            icon: "Success",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/admin/addsanpham";
                            }
                        });
                    } else {
                        Swal.fire({
                            title: response.message,
                            icon: "error",
                        });
                    }
                },
                error: function () {
                    alert("đã xảy ra lỗi trong quá trình thêm");
                }
            });
        });
    });
</script>